<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tlc.template"
    android:versionCode="0"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <application
        android:label="WhereⒶt"
        android:icon="@drawable/android:star_big_on">

        <activity
          android:label="WhereⒶt"
          android:name="org.tlc.whereat.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>